[project]
	description = Common Interview Questions
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Arnav Garg (thearnavgarg)
[access "refs/for/refs/*"]
	read = group user/Arnav Garg (thearnavgarg)
	push = group user/Arnav Garg (thearnavgarg)
	label-Code-Review = -2..+2 group user/Arnav Garg (thearnavgarg)
	label-Verified = -1..+1 group user/Arnav Garg (thearnavgarg)
	rebase = group user/Arnav Garg (thearnavgarg)
	removeReviewer = group user/Arnav Garg (thearnavgarg)
	submit = group user/Arnav Garg (thearnavgarg)
[access "refs/heads/*"]
	read = group user/Arnav Garg (thearnavgarg)
	create = group user/Arnav Garg (thearnavgarg)
	push = +force group user/Arnav Garg (thearnavgarg)
	pushMerge = group user/Arnav Garg (thearnavgarg)
[access "refs/tags/*"]
	push = group user/Arnav Garg (thearnavgarg)
	push = +force group user/Arnav Garg (thearnavgarg)
